form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
